<%- include('partials/header') %>

    <div class="container-fluid text-center">
        <h1>Search results for </h1>

        <div class="container">
            <div class="row">
                <% data["Search"].forEach(function(movie){ %>
                    <div class="col-lg-3 col-sm-6">

                        <div class="card-deck p-0 m-2">
                            <div class="card">
                                <img class=" card-img-top img-fluid rounded mx-auto d-block" src="<%= movie.Poster %>" alt="Card image cap Responsive image">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">
                                        <%= movie.Title %>
                                    </h5>
                                    <p class="card-text">Released in Year -
                                        <%= movie.Year  %>
                                    </p>
                                    <p class="card-text">IMDB_ID
                                        <%= movie.imdbID  %>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>


                    </div>

                    <% }) %>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>